@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    font-family: 'Poppins', Helvetica, sans-serif;
    padding: 0;
}

body{
    background-color: white;
}

.nav1{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding: 30px 100px;
    box-sizing: border-box;
}

.nav1 ul{
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style-type: none;
}

.nav1 ul li a{
    text-decoration: none;
    color: black;
}

.start{
    width: 90px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(121, 13, 13);
}

.start a{
    text-decoration: none;
    color: white;
}

.page1{
    background-image: url(../img/bg1.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main1{
    box-sizing: border-box;
    margin-left: 100px;
    color: white;
    padding-bottom: 120px;
}

.page1 h3{
    padding-top: 200px;
    padding-bottom: 20px;
}

.page1 p{
    margin-top: 30px;    
}

.contact{
    width: 100px;
    height: 35px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 100px;
}

.contact a{
    text-decoration: none;
    color: black;
    padding: auto;
}

.nav2{
    width: 100%;
    /* height: 50px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
    /* margin-top: 100px; */
}

.nav2 h3{
    color: rgb(121, 13, 13);
}

.nav2 h1{
    color: black;
}

#garis{
    color: rgb(121, 13, 13);
}

.main2{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.satu{
    box-sizing: border-box;
    margin-right: 100px;
    margin-left: 200px;
    width: 50%;
}

.dua{
    width: 50%;
}

img{
    width: 600px;
    height: 500px;
}

.dua ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dua ul li{
    font-size: 40px;
}

#kopi{
    text-align: center;
    font-size: 20px;
    color: black;
    margin-bottom: 40px;
}

.main3{
    background-image: url(../img/bg2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row-reverse;
}

.page2{
    width: 550px;
    margin-right: 100px;
    margin-top: 80px;
    /* padding-top: 10px; */
    padding-bottom: 370px;
    display: flex;
    flex-direction: column;
    
}


.main3 h3,h1,p{
    color: white
}

.main3 .start{
    margin-top: 30px;
    margin-left: 450px;
}

.footer{
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}




